/license-server-demo.cubiclesoft.com/protected_html/downloads/
!/license-server-demo.cubiclesoft.com/protected_html/downloads/v1/info.json
/license-server-demo.cubiclesoft.com/public_html/secrets.php
